<div class="body">
  <app-tipo-placa (alterarPlaca)="alterarPlaca($event)"></app-tipo-placa>

  <div class="placa">
    <app-seletor-placa [tipo]="'letras'" [posicao]="0" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa [tipo]="'letras'" [posicao]="1" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa [tipo]="'letras'" [posicao]="2" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <div *ngIf="!placaNova" class="hifen"></div>
    <app-seletor-placa *ngIf="!placaNova" [tipo]="'numeros'" [posicao]="3" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa *ngIf="placaNova" [tipo]="'letras'" [posicao]="3" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa [tipo]="'numeros'" [posicao]="4" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa [tipo]="'numeros'" [posicao]="5" [resetPlaca]="resetPlaca"></app-seletor-placa>
    <app-seletor-placa [tipo]="'numeros'" [posicao]="6" [resetPlaca]="resetPlaca"></app-seletor-placa>
  </div>
</div>