<header>
    <div class="primeiro-campo"></div>
    <div class="segundo-campo">

        <h1>Engata Quinta</h1>

        <body>
            <div class="menu">
                <div class="opcao" (mouseenter)="veiculos = true" (mouseleave)="veiculos = false">
                    <div class="opcaoPrincipal">Veiculos</div>
                    <div class="subOpcao" *ngIf="veiculos">
                        <div (click)="navegacao('buscar-veiculos')" class="subBotao">Buscar</div>
                        <div (click)="navegacao('cadastrar-veiculos')" class="subBotao">Cadastrar</div>
                    </div>
                </div>

                <div class="opcao" (mouseenter)="proprietarios = true" (mouseleave)="proprietarios = false">
                    <div class="opcaoPrincipal">Proprietário</div>
                    <div class="subOpcao" *ngIf="proprietarios">
                        <div (click)="navegacao('buscar-proprietarios')" class="subBotao">Buscar</div>
                        <div (click)="navegacao('cadastrar-proprietarios')" class="subBotao">Cadastrar</div>
                    </div>
                </div>

                <div class="opcao">
                    <div>Fornecedor</div>
                </div>

            </div>
        </body>

    </div>
</header>