header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-family: arial;
  font-weight: bolder;
  background-color: #ffb89e;
}

.campo-botao {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cancelar-salvamento {
  margin-top: -150px;
}

.opcoes {
  display: flex;
  gap: 64px;
  margin-top: 32px;
  justify-content: center;
}

.main {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
  background-color: rgb(179, 179, 179);
}

.coluna {
  padding: 15px;
  width: -webkit-fill-available;
}

.linha {
  display: flex;
  justify-content: space-between;
}

.linha:hover {
  background-color: beige;
  cursor: pointer;
}

.cadastro-veiculo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
}

input {
  width: 640px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}
