.bordas {
  width: 18px;
  height: 18px;
  border: 2px solid rgb(141, 141, 141);
  border-radius: 50%;
  display: flex;
  color: rgb(141, 141, 141);
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.modal {
  background-color: #e6e0e0;
  width: 120px;
  padding: 15px 15px 10px 15px;
  position: absolute;
  border-radius: 5px;
  p{
    margin: 0;
  }
}
