<header>
    <div>Nome: {{proprietario.nome}}</div>
    <div>Documento: {{documento}}</div>
</header>

<div *ngIf="proprietario.veiculos.length > 0 && (!cadastrarVeiculo || service.cadastroRealizado)"  class="informacao">
    <h1>
        Veiculos
    </h1>
    
    <app-tabela [propriedades]="tabela" [objetos]="objetos"></app-tabela>

</div>

<div class="campo-botao">
    <app-button *ngIf="!cadastrarVeiculo || service.cadastroRealizado" [conteudo]="'Cadastrar Novo'" [acao]="'continuar'" (click)="mudarTela()"></app-button>
</div>

<app-cadastrar-veiculo *ngIf="cadastrarVeiculo && !service.cadastroRealizado"></app-cadastrar-veiculo>
