<header>
    <div>Nome: {{proprietario.nome}}</div>
    <div>Documento: {{documento}}</div>
</header>

<div *ngIf="proprietario.veiculos.length > 0 && !service.cadastrarVeiculo"  class="informacao">
    <h1>
        Veiculos
    </h1>
    
    <app-tabela [propriedades]="tabela" [objetos]="service.veiculos"></app-tabela>

    <div class="campo-botao">
        <app-button [conteudo]="'Cadastrar Novo'" [acao]="'continuar'" (click)="mudarTela()"></app-button>
    </div>

</div>

<app-cadastrar-veiculo *ngIf="service.cadastrarVeiculo"></app-cadastrar-veiculo>
