body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0 0 0 20px;
}

.adicionar-veiculos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 20px;
  input {
    height: 40px;
    width: 50%;
  }
}

.seletor {
  display: flex;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
}

.botao {
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: aqua;
  border-radius: 5px;
}

.documento {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;

    input {
        width: 174%;
    }
}
